@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Lato:wght@300;400;700&display=swap');

* {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
    color: white;
    margin: 0;
    min-width: 370px;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

#root::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -1;
  background-image: url("../assets/react.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20%; 
  animation: spinImg 50s linear infinite; 
}

@keyframes spinImg {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #222222;
  margin: 0;
}

header {  
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.7rem 1rem;
    background-color: #111111;   
}

header img {
    width: 3rem;
}

header div {
    font-size: 1.4rem;
}

header i {
    margin-right: 0.5rem;
}

h1 {
    flex-grow: 1; 
    padding: 0rem 0.7rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    width: 80%;
    max-width: 1024px;
    margin: 1rem auto;
}

form {
    display: flex;
    justify-content: center;
    width: 75%;
    margin: 1rem 0rem;
}

form * {
    font-size: 1.2rem;
    font-weight: bold;
    box-shadow: #00000020 8px 8px 0px;
}

form input {
    font-weight: 400;
    border: #ffffff solid 1px;
    border-radius: 5px 0px 0px 5px;
    padding: 0.9rem;
    flex-grow: 1;
}

form button {
    background-color: #0040ff;
    color: white;
    font-weight: bold;
    border-radius: 0px 5px 5px 0px;
    border: #0040ff solid 1px;
    padding: 1rem 2rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

form button:hover {
    background-color: #1d13df;
    border: #1d13df solid 1px;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    list-style: none;
    padding-left: 0;
    margin-top: 1rem;
}

li:nth-child(odd) {
    background-color: #454545;
}

li {
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    box-shadow: #00000030 3px 3px 0px;
    font-size: 1.4rem;
    background-color: #333333;
    padding: 0.5rem;
    margin: 0.3em 0em;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fa-check-square, .fa-square {
    font-size: 37px;
    cursor: pointer;
}

li span {
    flex-grow: 1;
    padding: 0.6rem 1rem;
}

li button {
    background-color: #a80000;
    border: none;
    color: white;
    padding: 0.5rem;
    border-radius: 6px;
    cursor: pointer;
}

footer {
    background-color: #111;
    text-align: center;
    padding: 0.6rem 0rem;
    font-size: 1.2rem;
}

footer p {
    padding: 0.3rem 0rem;
}

footer span {
    font-size: 14px;
}

footer a {
    color: #3c6dff;
    text-decoration: none;
    margin-left: 0.5rem;
}

.done {
    opacity: 0.5;
}

/* MOBILE BREAKPOINT */

@media screen and (max-width:768px) {
    html {
      font-size: 80%;
    }

    #root::before {
        background-size: 55%; 
    }

    main {
        width: 100%;
        padding: 0.5rem;
    }
    form {
        width: 95%;
    }   
    form button {
        padding: 0.5rem 1.1rem;
    }
    ul {
        width: 95%;
    }
    li {
        padding: 0.5rem 0.8rem;
    }
    li span {
    padding: 1rem 0rem 1rem 1.5rem;
}
  }