@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Lato:wght@300;400;700&display=swap");

* {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #222222;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  color: white;
  margin: 0;
  min-width: 370px;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

#root::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -1;
  background-image: url("./assets/react.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20%;
  animation: spinImg 50s linear infinite;
}

@keyframes spinImg {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  width: 80%;
  max-width: 1024px;
  margin: 1rem auto;
}

/* MOBILE BREAKPOINT */

@media screen and (max-width: 768px) {
  #root::before {
    background-size: 55%;
  }
  main {
    width: 100%;
    padding: 0.5rem;
  }
}
